.idea
assets/keys
assets/firebase_sdk.json
assets/tables/change_file_paths.sql
docker/docker-compose.override.yml
admin/static
admin/media
admin/.venv
admin/venv
build.sh
uploads
env/*
!env/.env.example
vendor
.volumes
logs
pyproject.toml
### Go template
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.pyc
*.dylib
.idea/
.vscode
.agent
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Go workspace file
go.work
go.work.sum
# env file
.env

.air.toml

tmp


.DS_Store


example
CLAUDE.md

.agents/*